/* 
Colours to use
primary-colour: #d3d3d3 light grey
secondary-colour: #5b5b5b dark grey
highlight colour #433fbc dark purple
transition colour #908cff lighter purple
*/

:root{
  --primary-color: #ffffff;
  --secondary-color: #00ff00;
  --highlight-color: #6600CC;
  --transition-color: #000000;
}

.navbar-custom {
  background-color: #000000;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-brand:hover {
  color: #ffffff;
}

body {
  font-family: 'Sigmar One', cursive;
  background-color: var(--primary-color);
  font-weight: 400; 
  font-size: 18px; 
  line-height: 1.4; 
  margin-top: 80px;
}

h1 {
  font-weight: 400;
}

.pokedex {
  text-align: center;
  margin-top: 90px; 
  display: flex;
  flex-direction: column;
}

.pokemon-header {
  padding: 10px;
  font-weight: 400;
  font-size: 30px;
  
}

.pokemon-button {
  width: 200px;
  height: 50px;
  background-color: var(--secondary-color);
  /* removes bootstrap button border color */
  border: none;
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
}

.list-group {
  list-style-type: none;
  margin: 5px auto;
  padding: 0;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
}

/* removes row border lines in background */
.list-group-item {
  border: none;
  background-color: var(--primary-color);
  margin: 10px 10px;
  
}

.pokemon-button:hover {
  background-color: black;
  transition-duration: 0s;
  border: 2px solid var(--highlight-color);
}

.btn-outline-info {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-info:hover {
  background-color: var(--transition-color);
  transition-duration: 0s;
  border-color: var(--transition-color);
}

.input-group-btn {
  background-color: none;
}

.modal {
  text-align: center;
}

.pokemon-img {
  width: 200px;
  height: 200px;
}

.modal-dialog {
  border: 8px solid;
  border-radius: 12px;
  border-color: var(--highlight-color);
  
}

.form-inline {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
}

.form-control {
  border-color: #000000;
}

.form-control:hover {
	cursor: pointer;
  border-color: #000000;
} 

@media (max-width: 600px) {
  .list-group {
     grid-template-columns: 1fr 1fr;
   }
 }


