/* 
Colours to use
Background #ffffff white
Text #000000 black
primary-colour: #bcbcbc light grey
secondary-colour: #5b5b5b dark grey
highlight colour #433fbc dark blue
*/

:root{
    --primary-color: #bcbcbc;
    --secondary-color: #5b5b5b;
    --white: #ffffff;
    --text-color: #000000;
    --highlight-color: #433fbc;
  }

  body {
    background-color: var(--primary-color);
    font-family: 'Work Sans', sans-serif;
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.4;
  }